.converter {
  width: 37rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1.5rem;
  gap: 3rem;

  border: 2px solid #f9a82667;
}

.error_text {
  color: red;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.converter_header {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.2;
}

.input_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.converter_form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.converter_form input[type="number"] {
  background-color: transparent;
  outline: none;
  border: 1px solid #f9a82667;
  border-radius: 4px;
  padding: 1rem;
  color: white;
}

.converter_form input[type="number"]::placeholder {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.submit {
  color: white;
  background-color: #f9a826;
  border: none;
  padding: 0.8rem 1.8rem;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 3px;
  cursor: pointer;
  font-family: "Antonio", sans-serif;
  transition: all 0.3s ease-in-out;
}

.disable_button {
  opacity: 0.3;
}
.converter_img {
  position: absolute;
  top: -3.5rem;
  left: 1rem;
  height: 6rem;
  width: auto;
  transform: rotate(30deg);
  user-select: none;
  pointer-events: none;
}

.converter_img img {
  height: 100%;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.result {
  color: #f9a826;
  font-size: 3rem;
  font-family: "Antonio", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  user-select: none;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .result {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 450px) {
  .converter {
    width: 100%;
  }
  .result {
    font-size: 2rem;
  }
}
